*{
	margin: 0;
	padding: 0;
}
body, html
{
	height:100%;
}
.background {

}
.footer{
	float: left;
	background: whitesmoke;
	min-width: 100%;
	padding: 15px 0;
	height: 25%;
}

.Logo{
	height: 100px;
	padding-right: 5%;
 	width: auto;
}
#customnavi{
	transparent: 60%;
	background-color: grey;
	float: left;
	width: 23%;
	height: 50%;
}
